/* navbar elements */
.navbar-nav a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav li {
    padding-left: 13px;
    padding-right: 13px;
}
.navbarbar {
    transition: all .5s
}
.navbarcontent {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px
}
/* lower navbar transformation scroll */
.fix {
    box-shadow: 0 0 12px 3px rgba(80,80,80,.8);
    transform: translateY(-130px);
    transition: all .5s
}
/* progress bar */
.scrollbars {
  transition: all .500s
}
/* NAVBAR LOGO RESPONSIVE*/
.navbar-logo {
    max-width: 400px;
    width: 100%;
    height: auto;
    transition: all .5s
  }
  
  @media (max-width: 1200px) {
    .navbar-logo {
      max-width: 300px;
    }
  }
  
  @media (max-width: 992px) {
    .navbar-logo {
      max-width: 250px;
    }
  }
  
  @media (max-width: 768px) {
    .navbar-logo {
      max-width: 200px;
    }
  }
  
  @media (max-width: 576px) {
    .navbar-logo {
      max-width: 150px;
    }
  }

/* footer */
footer {
  color: white;
  background-color: black;
  height: auto;
  text-align: center;
}

footer ul li a, footer a, footer ul{
  display: block;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

footer ul li a:hover , footer a:hover {
  border-radius: 3px;
  background-color: rgb(66, 62, 62);
  color: white;
  text-align: center;
}