/* basic css */
body {
  font-family: Catamaran, sans-serif;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}
/* animations */
.hover-grow {
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.05);
}

/* navbar elements */
.navbar-nav a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
.navbar-nav li {
  padding-left: 13px;
  padding-right: 13px;
}
.navbar-nav li:hover > a {
  padding: 15px 0 12px;
  border-bottom: 3px solid #ea1331;
}

.navbarcontent {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}
/* lower navbar transformation scroll */
.fix {
  box-shadow: 0 0 12px 3px rgba(80, 80, 80, 0.8);
  transform: translateY(-122px);
  transition: all 0.5s;
}
/* progress bar */
.scrollbars {
  transition: all 0.5s;
}
/* NAVBAR LOGO RESPONSIVE*/
.navbar-logo {
  max-width: 400px;
  width: 100%;
  height: auto;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .navbar-logo {
    max-width: 300px;
  }
}

@media (max-width: 992px) {
  .navbar-logo {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .navbar-logo {
    max-width: 200px;
  }
}

@media (max-width: 576px) {
  .navbar-logo {
    max-width: 150px;
  }
}

/* footer */
footer {
  color: white;
  background-color: black;
}

.footer_class {
  position: relative;
  border-bottom: 2px solid #fff;
}

.logo {
  display: inline-block;
  width: 175px;
}
